:root {
    --primary-color: hsl(61, 70%, 52%);
    --error-color: hsl(4, 69%, 50%);
    --secondary-color: hsl(202, 55%, 16%);
    --body-color: hsl(200, 24%, 40%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
body {
    background: hsl(202, 86%, 94%);
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
html {
    font-size: 16px;
    line-height: 1.5;
    
}
button {
    cursor: pointer;
}
.Homepage {
    display: flex;
    background: white;
    width: fit-content;
    margin-top: 5%;
    margin-bottom: 30px;
    border-radius: 24px;
}
.calculator-container {
    padding: 24px;
}
.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}
.heading > h1 {
    color: var(--secondary-color);
    font-size: 24px;
}
.heading > a {
    color: var(--body-color);
}
.heading > a:hover {
    color: var(--secondary-color);
}
.mortgage-box {
    display: flex;
    flex-direction: column;
}
.second-div {
    display: flex;
    gap: 10px;
}
.form label {
    color: var(--body-color);
}
.term-box, .rate-box, .amt-box {
    position: relative;
}
.amt-box::before {
    content: '£';
    background-color: hsl(202, 86%, 94%);
    position: absolute;
    text-align: center;
    color: hsl(202, 55%, 16%);
    padding: 4px 10px;
    height: 23px;
    bottom: 9px;
    left: 0.8px;
    transition: border-color 0.3s;
}
.content-box::after {
    background-color: hsl(202, 86%, 94%);
    position: absolute;
    text-align: center;
    color: hsl(202, 55%, 16%);
    padding: 4px 6px;
    height: 23px;
    bottom: 9px;
    right: 0.6px;
    transition: border-color 0.3s;
    
}
.term-box::after {
    content: "years";
}
.rate-box::after {
    content: "%";
}
.term-box > input[type=text], .rate-box > input[type=text], .amt-box > input[type=text] {
    margin-bottom: 8px;
    margin-top: 6px;
    padding: 8px 12px;
    border: 1px solid hsla(202, 55%, 16%, 0.5);
    cursor: pointer;
    width: 100%;
    /* border-radius: 4px; */
}
.term-box > input[type=text]:hover, .rate-box > input[type=text]:hover, .amt-box > input[type=text]:hover {
    border-color: var(--secondary-color);
}
.term-box:focus-within::after, .rate-box:focus-within::after, .amt-box:focus-within::before {
    background-color: var(--primary-color);
}
.term-box > input[type=text]:focus, .rate-box > input[type=text]:focus, .amt-box > input[type=text]:focus {
    outline: transparent;
    border-color: var(--primary-color);
}
.term-box > input[type=text].input-error, .rate-box > input[type=text].input-error, .amt-box > input[type=text].input-error {
    border-color: var(--error-color);
}
.term-box.input-error::after, .rate-box.input-error::after, .amt-box.input-error::before {
    background-color: var(--error-color);
    color: white;
}
.errors {
    color: var(--error-color);
    font-size: 12px;
    margin-bottom: 8px;
    font-weight: 500;
}
.mortgage-type {
    border: 1px solid var(--body-color);
    padding: 6px 10px;
    margin-bottom: 8px;
    margin-top: 8px;
    transition: border color 0.5s;
    position: relative;
    display: flex;
    align-items: center;
}
.mortgage-type:hover {
    border-color: var(--primary-color);
    cursor: pointer;
}
.mortgage-type input[type=radio] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid grey;
    background: white;
    cursor: pointer;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}
.mortgage-type input[type=radio]:checked {
    border-color: var(--primary-color);
}
.mortgage-type input[type=radio]:checked::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 50%;
    left: 20px;
    transform: translate(-50%, -50%);
    background-color: var(--primary-color);
}
.mortgage-type > label {
    margin-left: 10px;
    color: var(--secondary-color);
    font-weight: bold;
}
.mortgage-type.active {
    border-color: var(--primary-color);
    background-color: hsla(61, 70%, 52%, 0.1);;
}
.form > button {
    background-color: var(--primary-color);
    padding: 10px 20px;
    color: var(--secondary-color);
    border: transparent;
    display: flex;
    align-items: center;
    font-weight: bold;
    border-radius: 26px;
    gap: 5px;
    margin-top: 16px;
}
.form > button:hover {
    background-color: hsla(61, 70%, 52%, 0.5);
}
.calculator-summary {
    background: hsl(202, 55%, 16%);
    border-radius: 0 24px 24px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 32px;
}
.calculator-summary > h2 {
    color: hsl(202, 86%, 94%);
    margin-bottom: 10px;
}
.calculator-summary > p {
    text-align: center;
    width: 400px;
    color: hsl(202, 86%, 94%);
    line-height: 20px;
}
@media (max-width: 769px) {
    .Homepage {
        flex-direction: column;
        width: 100vw;
        margin: 0 auto;
    }
    .heading {
        flex-direction: column;
        align-items: unset;
    }
    .second-div  {
        flex-direction: column;
    }
    .calculator-container {
        width: 100%;
        border-radius: unset;
    }
    .calculator-summary {
        border-radius: unset;
        padding: 14px 10px;
        width: 100%;
    }
    .calculator-summary > p {
        width: 100%;
    }
    .form > button {
        margin: 0 auto;
    }
}