:root {
    --primary-color: hsl(61, 70%, 52%);
    --error-color: hsl(4, 69%, 50%);
    --secondary-color: hsl(202, 55%, 16%);
    --body-color: hsl(200, 24%, 40%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
body {
    background: hsl(202, 86%, 94%);
    height: 100vh;
}
html {
    font-size: 16px;
    line-height: 1.5;
    
}
button {
    cursor: pointer;
}
.Homepage {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 10px 220px;
    padding: 0 24px;
}
.calculator-container {
    padding: 24px;
    border-radius: 24px 0 0 24px;
}
.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}
.heading > h1 {
    color: var(--secondary-color);
    font-size: 24px;
}
.heading > a {
    color: var(--body-color);
}
.mortgage-box {
    display: flex;
    flex-direction: column;
}
.second-div {
    display: flex;
    gap: 10px;
}
.form label {
    color: var(--body-color);
    margin-bottom: 6px;
}
.form input[type=text] {
    margin-bottom: 10px;
    padding: 8px 0;
}
.mortgage-type {
    border: 1px solid var(--body-color);
    padding: 6px 10px;
    margin-bottom: 10px;
    margin-top: 8px;
}
.mortgage-type > label {
    margin-left: 10px;
}
.form > button {
    background-color: var(--primary-color);
    padding: 10px 20px;
    color: var(--secondary-color);
    border: transparent;
    display: flex;
    align-items: center;
    font-weight: bold;
    border-radius: 26px;
    gap: 5px;
    margin-top: 20px;
}
.calculator-summary {
    background: hsl(202, 55%, 16%);
    border-radius: 0 24px 24px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 32px;
}
.calculator-summary > h2 {
    color: hsl(202, 86%, 94%);
    margin-bottom: 10px;
}
.calculator-summary > p {
    text-align: center;
    width: 400px;
    color: hsl(202, 86%, 94%);
    line-height: 20px;
}
@media (max-width: 769px) {
    .Homepage {
        flex-direction: column;
        width: 100vw;
        margin: 0 auto;
    }
    .heading {
        flex-direction: column;
    }
    .second-div  {
        flex-direction: column;
    }
    .calculator-container {
        width: 100%;
    }
    .calculator-summary {
        border-radius: unset;
        padding: 14px 10px;
        width: 100%;
    }
    .calculator-summary > p {
        width: 100%;
    }
}